/*Main*/
*{
    box-sizing: border-box;
}
body{
    font-family: "Tw Cen MT", "Arial", sans-serif;
    margin: 0;
}





/*Home Page*/




/*Booking*/






/*CMS*/


/*Nav*/
nav{
    width: 100%;
    background-color: #FF7171;
    height: auto;
    overflow: auto;
    float: left;
    padding-top: 0;
}
nav ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
}
nav a{
    display: block;
    float: left;
    color: #FFFFFF;
    padding: 10px 20px;
    text-decoration: none;
    text-align: center;
    font-size: 16px;
}
nav a.home {
    background-color: #FFFFFF;
    color: #000000;
}
nav a:hover{
    background-color: #FFFFFF;
    color: #000000;
}
nav a.emph{
    font-weight: bold;
    background-color: #454545;
}
nav a.logo:hover{
    background-color: #000000;
}
nav a.logo{
    width: 10%;
    height: auto;
}
nav a.logo img{
    width: 100%;
    height: ;
}

/*Footer*/
footer{
  width: 100%;
  background-color: #FF7171;
  height: auto;
  overflow: auto;
  float: left;
}
.footer_pane{
  margin: 0;
  padding: 0;
  width: 32%;
  float: left;
}
.footer_pane img {
  width: 100%;
}

/*Main Body*/
.mainBody{
  width: 100%;
  height: auto;
  float: left;
}

/*Login*/
/*
.login-background{
  background-image: url("assets/img/loginBackground.jpg");
}
/*Column Templates*/
#col-2-width{
  width: 50%;
  height: auto;
  float: left;
}
