/*Main*/
*{
    box-sizing: border-box;
}
body{
    font-family: "Tw Cen MT", "Arial", sans-serif;
    margin: 0;
}





/*Home Page*/




/*Booking*/






/*CMS*/


/*Nav*/
nav{
    width: 100%;
    background-color: #FF7171;
    height: auto;
    overflow: auto;
    float: left;
    padding-top: 0;
}
nav ul{
    list-style-type: none;
    margin: auto;
    padding: 0;
}
nav a{
    display: block;
    float: left;
    color: #FFFFFF;
    padding: 10px 20px;
    text-decoration: none;
    text-align: center;
    font-size: 16px;
    margin: auto;
}
nav a.home {
    background-color: #FFFFFF;
    color: #000000;
}
nav a:hover{
    background-color: #FFFFFF;
    color: #000000;
}
nav a.emph{
    font-weight: bold;
    background-color: #454545;
}
nav a.logo:hover{
    background-color: #000000;
}
nav a.logo{
    width: 10%;
    height: auto;
}
nav a.logo img{
    width: 100%;
    height: auto;
}
/*Title*/
.title {
  width: 100%;
  float: left;
  height: auto;
  text-align: center;
  background-color: #ddd;
}
/*Footer*/
footer{
  width: 100%;
  background-color: #FF7171;
  height: auto;
  overflow: auto;
  float: left;
}
.footer_pane{
  margin: 0;
  padding: 0;
  width: 32%;
  float: left;
}
.footer_pane img {
  width: 100%;
}

/*Main Body*/
.mainBody{
  height: auto;
  margin: auto;
  max-width: 1250px;
  padding-bottom: 30px;
}

/*Login*/
/*
.login-background{
  background-image: url("assets/img/loginBackground.jpg");
}
/*Column Templates*/
.col-2-width{
  width: 50%;
  height: auto;
  float: left;
}
.col-1-width {
  width: 100%;
  height: auto;
  float: left;
}
.width100{
  width: 100%;
  height: auto;
  float: left;
}
.big-button {
  background-color: #FF7171;
  border: none;
  color: white;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 20px;
}
/*forms*/
input[type=text], select, input[type=date], input[type=time], input[type=number], input[type=password]  {
  padding: 12px 20px;
  margin: 10px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 6px;
  box-sizing: border-box;
}

input[type=submit] {
  background-color: #FF7171;
  color: white;
  padding: 12px 20px;
  margin: 10px 0;
  border-radius: 6px;
}

/*Signup Form*/
#signup-form input {
  width: 50%;
  float: left;
}
.signup-label {
  width: 50%;
  float: left;
}
/*Event Form*/
#newevent-form input {
  width: 50%;
  float: left;
}
.event-label {
  width: 50%;
  float: left;
}
/*Events Table*/
#table-basic{
  border-collapse: collapse;
  width: 100%;
}

#table-basic td, #table-basic th {
  border: 1px solid #ddd;
  padding: 8px;
}

#table-basic tr:nth-child(even){background-color: #f2f2f2;}

#table-basic tr:hover {background-color: #ddd;}

#table-basic th {
  padding-top: 10px;
  padding-bottom: 10px;
  text-align: left;
  background-color: #FF7171;
  color: white;
}

/*Timetable formatting columns*/
.timetable {
  width: 100%;
  height: auto;
  float: left;
}
.timetable-column {
  width: 14%;
  float: left;
  height: auto;
}
.timetable-heading {
  border-left: 5px solid #FF7171;
}
.week-button {
  background-color: #FF7171;
  border: none;
  color: white;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 20px;
  float: left;
}
